#VITE_API_URL=https://my-app-1-1xuw.onrender.com/
VITE_API_URL=http://localhost:5000/
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51UGBlJHUyfdQ9R1Unuuni7KA9IjioAZdDUSn9PbFB3STdDId3Bj9Nl59jYDQ8vjDR9RFkiUbcuHi99v6lqDYnCGg00gRAfvC3W